@import 'bootstrap/dist/css/bootstrap.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #EDF2F4;
}

.m-cl {
  color: rgb(77, 163, 255);
}

.tr-cl {
  color: rgb(61, 142, 49);
}

.login-w, .logout-w {
  width: 150px;
  margin: 0 auto;
}

.form-w, .f-c {
  width: 25%;
  margin: 0 auto;
}

.user-greet {
  color: rgb(0, 54, 75);
}

.s-in {
  border-radius: 20px;
}

.h-p, .hr-m {
  width: 150px;
  margin: 0 auto;
}

.view-hr {
  width: 50%;
  border: 1px solid black;
}

.team-card {
  margin-bottom: 0;
}

.btn-m {
  background-color: transparent;
  border: 1px solid black;
  color: black;
}

.btn-m:hover {
  transition: 300ms;
  border: 1px solid #2B2D42;
  background-color: #2B2D42;
  color: white;
}

.del-btn, .view-btn, .edit-btn {
  background-color: transparent;
  border: .5px solid white;
}

.view-btn:hover {
  transition: 300ms;
  background-color: #aaf683;
  border: 1px solid #aaf683;
}

.edit-btn:hover {
  transition: 300ms;
  background-color: #f7b267;
  border: 1px solid #f7b267;
}

.del-btn:hover {
  transition: 300ms;
  background-color: #a11d33;
  border: 1px solid #a11d33;
}
